.signature-pad__dialog {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 100%;
    position: fixed;
    background-color: #3d424e;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px 0;
    box-sizing: border-box;
}

.signature-pad__dialog__tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #888;
}

.signature-pad__dialog__tab {
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #888;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    background: #3d424e;
    transition-duration: 0.3s;
}

.signature-pad__dialog__tab:hover:not(:active) {
    background: #ccc;
    color: #3d424e;
}

.signature-pad__dialog__content {
    min-height: 200px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.signature-pad__dialog__canvas {
    cursor: crosshair;
    background: #fff;
    border: 1px dashed #888;
}

.signature-pad__dialog__image-upload-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not-interactive {
    pointer-events: none;
}

.signature-pad__dialog__canvas-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #888;
    pointer-events: none;
}

/*footer*/
.signature-pad__dialog__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 0 0;
    border-top: 1px solid #888;
}

.signature-pad__dialog__button {
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    background: #3d424e;
    transition-duration: 0.3s;
    font-size: 16px;
}

.signature-pad__dialog__button:hover:not(:active) {
    background: #ccc;
    color: #3d424e;
}

.signature-pad__dialog__text-input-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #888;
    cursor: pointer;
}

/* make input just a text with caret, with not extra stuff */
.signature-pad__dialog__text-input {
    /*padding: 90% 0 0 10%;*/
    width: 100%;
    text-align: start;
    vertical-align: top;
    box-sizing: content-box;
    background: transparent;
    border: none;
    outline: none;
    pointer-events: none;

/*    text transparent, but caret not*/
    color: transparent;
    /*color: red;*/
    font: 30px Caveat, cursive;
    caret-color: #000;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.upload-preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
