.signature-pad__dialog__tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #888;
}

/* copies .signature-pad__dialog__button */
.signature-pad__dialog__tab {
    cursor: pointer;
    transition-duration: 0.3s;
    font-size: 16px;
    padding: 16px 32px;
    height: 100%;
    color: #fff;

    border-right: 1px solid #888;
    position: relative;
}

.signature-pad__dialog__tab:hover:not(:active) {
    background: #ccc;
    color: #3d424e;
}

.signature-pad__dialog__tab--selected {
    background: #cdd7ef;
    color: #3d424e;
    border-bottom: 1px solid #888;
    border-top: 0;
}

.signature-pad__dialog__tab--selected:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #1a57ec;
}
