.signature-pad__dialog__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #888;
}

.signature-pad__dialog__button {
    cursor: pointer;
    transition-duration: 0.3s;
    font-size: 16px;
    padding: 16px 32px;
    height: 100%;
    color: #fff;
    border-left: 1px solid #888;
}

.signature-pad__dialog__button:hover {
    background: #ccc;
    color: #3d424e;
}
.signature-pad__dialog__button:active {
    background: #888;
    color: #fff;
}

