.signature-pad__dialog__text-input-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.signature-pad__dialog__text-input {
    width: calc(100% - 16px);
    text-align: start;
    vertical-align: top;
    box-sizing: content-box;
    background: transparent;
    border: none;
    outline: none;
    pointer-events: none;
    border-bottom: 1px dashed var(--signature-border-color);
    height: 40px;
    padding: 4px 8px;

    color: transparent;
    caret-color: #000;
}

.signature-pad__dialog__text-input::placeholder {
    color: #ddd;
    font-size: 20px;
}

.signature-pad__dialog__text-input__fonts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-sizing: border-box;
    border-bottom: 1px dashed var(--signature-border-color);
}

.signature-pad__dialog__text-input__font-option {
    cursor: pointer;
    transition-duration: 0.3s;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: #555;
    background: rgba(255, 255, 255, 0.975)
}

.signature-pad__dialog__text-input__font-option--active {
    color: var(--signature-content-color);
    background: var(--signature-button-hover-color);
}

.signature-pad__dialog__text-input__font-option:hover {
    color: var(--signature-content-color);
    background: var(--signature-button-selected-color);
}
