.signature-pad__dialog__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid var(--signature-border-color);
}

.signature-pad__dialog__button {
    cursor: pointer;
    transition-duration: 0.3s;
    font-size: 16px;
    padding: 16px 32px;
    height: 100%;
    color: var(--signature-content-color);
    border-left: 1px solid var(--signature-border-color);
}

.signature-pad__dialog__button:hover {
    background: var(--signature-button-hover-color);
}
.signature-pad__dialog__button:active {
    background: var(--signature-button-selected-color);
}

.signature-pad__dialog__button--disabled {
    background: var(--signature-button-color) !important;
    cursor: not-allowed !important;
    color: var(--signature-button-disabled-color) !important;
}

